[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/mumudvb
Description=LSB: mumudvb
Before=multi-user.target
Before=graphical.target
After=remote-fs.target
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
RestartSec=5
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
SuccessExitStatus=5 6
ExecStartPre=/bin/sleep 1
ExecStart=/etc/init.d/mumudvb start
ExecStop=/etc/init.d/mumudvb stop
